html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.table {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgb(136, 213, 248);
    border: 2.5px solid rgb(125, 180, 199) ;
    font-size: 48px;
    width: 150px;
    height: 70px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.table__counter {
    padding: 3px 
}